body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	height: 100px;
	background-color: #404041;
}

span.number {
	color: #ED458B;
	font-weight: 700;
	display: inline-block;
	padding-right: 10px;
	font-size: 55px;
	border: 0px solid blue;
	margin-top: 10px;
}

span.guesser {
	color: #E6E7E8;
	display: inline-block;
	font-weight: 100;
	font-size: 55px;
	border: 0px solid blue;
	margin-top: 10px;
}

div.headings {
	width: 50%;
	height: 100px;
	text-align: center;
	margin: auto;
	border: 0px solid green;
}

#num-input {
	width: 50%;
	height: 30px;
	margin-left: 25%;
	margin-top: 25px;
	display: block;
}

#submitbutton, input.buttons2 {
	width: 45%;
	height: 40px;
	margin: auto;
	background-color: #929497;
	border: 1px solid white;
	border-radius: 30px;
	font-size: 125%;
	color: #ffffff;
	font-weight: 100;
}


div.buttoncontainer {
	width: 50%;
	margin: auto;
	border: 0px solid green;
	margin-top: 10px;
}

input.buttons2 {
	margin-left: 35px;
}

button.resetbutton {
	background-color: #929497;
	border-radius: 30px;
	height: 60px;
	width: 99%;
	color: #FFFFFF;
	font-size: 125%;
	font-weight: 100;
	border: 1px solid white;
}

div.showcasearea {
	border: 0px solid green;
	height: 300px;
	margin: auto;
	width: 50%;
	margin-top: 20px;
}

section#feedback {
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border: 0px solid pink;
	height: 20px;
	margin-top: 30px;
	padding-top: 30px;
}

div.resetbuttoncontainer {
	width: 50%;
	height: 70px;
	margin: auto;
	margin-top: 20px;
	border: 0px solid green;
}

p.guessednumber {
	font-size: 200px;
	color: #ED458B;
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

div.guessedspace {
	height: 175px;
	border: 0px solid blue;
	width: 50%;
	margin: auto;
	vertical-align: middle;
	margin-top: 0px;
}

section#topmsg {
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border: 0px solid pink;
	height: 20px;
	vertical-align: middle;
}

#submitbutton:hover, input.buttons2:hover, button.resetbutton:hover, #newgame:hover, #submaxminbutton:hover {
	background-color: #EB008B;
}

#submitbutton:disabled, input.buttons2:disabled, button.resetbutton:disabled, #newgame:disabled, #submaxminbutton:disabled {
	background-color: #D0D2D3;
}

#angryman {
	display: none;
	border-radius: 50%;
	height: 175px;
	border: 3px solid #ED458B;
	margin: auto;
	margin-top: 30px;
	z-index: 1;
}

div.minmax {
	width: 50%;
	margin: auto;
}

input#newmin, input#newmax {
	width: 30%;
	height: 30px;
	margin-right: 5%;
}

input#submaxminbutton {
	background-color: #929497;
	border-radius: 30px;
	height: 40px;
	width: 25%;
	color: #FFFFFF;
	font-size: 125%;
	font-weight: 100;
	border: 1px solid white;
}

input#newgame {
	background-color: #929497;
	border-radius: 30px;
	height: 40px;
	width: 25%;
	color: #FFFFFF;
	font-size: 125%;
	font-weight: 100;
	border: 1px solid white;
	position: relative;
	bottom: 25px;
	left: 73%;
	display: none;
}

div.currentrange {
	width: 50%;
	text-align: center;
	border: 0px solid green;
	margin: auto;
	font-size: 24px;
}

/* after we met on sunday*/

.bookmarklinks{
	margin-top: 50%;
}
